---
layout: "base.njk"

headline: "I'm Vitaly Kazakevich,<br><span class=\"text-[#304bbc]\">a Software Engineer</span>"

about: "I'm a passionate software developer with 10 years of experience
    and a bachelor's degree in computer science.
    My main area of work is web programming.
    Current place of residence is Kraków, Poland 🇵🇱"
---

<main class="mx-auto w-full max-w-lg grid justify-items-center mb-10">
  <img
    src="/images/me.webp"
    class="w-48 h-48 object-cover rounded-full mb-10"
    alt="it's me"
  >

  <h1 class="text-4xl text-center">
    {{ headline | safe }}
  </h1>

  <p class="mt-10 text-[#39362c]">{{ about }}</p>

  <div class="mt-10 grid gap-6 md:gap-5 w-full">
    {%- for link in socials %}
      <a href="{{ link.url }}" class="block rounded-lg p-4 border bg-white" target="_blank">
        <div class="flex items-center">
          <img src="{{ link.icon }}" class="w-12 h-12 shrink-0" alt="{{ link.name }} icon">
          <div class="ml-5">
            <h2>{{ link.name }}</h2>
            <p class="mt-1 text-[#39362c] md:text-sm">{{ link.note }}</p>
          </div>
        </div>
      </a>
    {%- endfor %}
  </div>
</main>
